.dxigControl_DevEx.dxTouchUI .dxWeb_igCloseButton_DevEx,
.dxigControl_DevEx.dxTouchUI .dxWeb_igPauseButton_DevEx,
.dxigControl_DevEx.dxTouchUI .dxWeb_igPlayButton_DevEx,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_DevEx,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_DevEx,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_DevEx,
.dxrpCollapsed .dxWeb_rpCollapseButton_DevEx,
.dxWeb_edtCheckBoxChecked_DevEx,
.dxWeb_edtCheckBoxCheckedDisabled_DevEx,
.dxWeb_edtCheckBoxGrayed_DevEx,
.dxWeb_edtCheckBoxGrayedDisabled_DevEx,
.dxWeb_edtCheckBoxUnchecked_DevEx,
.dxWeb_edtCheckBoxUncheckedDisabled_DevEx,
.dxWeb_fmCopyButton_DevEx,
.dxWeb_fmCopyButtonDisabled_DevEx,
.dxWeb_fmCreateButton_DevEx,
.dxWeb_fmCreateButtonDisabled_DevEx,
.dxWeb_fmDeleteButton_DevEx,
.dxWeb_fmDeleteButtonDisabled_DevEx,
.dxWeb_fmDwnlButton_DevEx,
.dxWeb_fmDwnlButtonDisabled_DevEx,
.dxWeb_fmFolder_DevEx,
.dxWeb_fmFolderLocked_DevEx,
.dxWeb_fmMoveButton_DevEx,
.dxWeb_fmMoveButtonDisabled_DevEx,
.dxWeb_fmRefreshButton_DevEx,
.dxWeb_fmRefreshButtonDisabled_DevEx,
.dxWeb_fmRenameButton_DevEx,
.dxWeb_fmRenameButtonDisabled_DevEx,
.dxWeb_fmThumbnailCheck_DevEx,
.dxWeb_igCloseButton_DevEx,
.dxWeb_igNavigationBarMarker_DevEx,
.dxWeb_igNextButton_DevEx,
.dxWeb_igNextButtonDisabled_DevEx,
.dxWeb_igNextButtonHover_DevEx,
.dxWeb_igNextButtonPressed_DevEx,
.dxWeb_igPauseButton_DevEx,
.dxWeb_igPlayButton_DevEx,
.dxWeb_igPrevButton_DevEx,
.dxWeb_igPrevButtonDisabled_DevEx,
.dxWeb_igPrevButtonHover_DevEx,
.dxWeb_igPrevButtonPressed_DevEx,
.dxWeb_isDot_DevEx,
.dxWeb_isDotDisabled_DevEx,
.dxWeb_isDotPressed_DevEx,
.dxWeb_isDotSelected_DevEx,
.dxWeb_isNextBtnHor_DevEx,
.dxWeb_isNextBtnHorDisabled_DevEx,
.dxWeb_isNextBtnVert_DevEx,
.dxWeb_isNextBtnVertDisabled_DevEx,
.dxWeb_isNextPageBtnHor_DevEx,
.dxWeb_isNextPageBtnHorDisabled_DevEx,
.dxWeb_isNextPageBtnHorOutside_DevEx,
.dxWeb_isNextPageBtnHorOutsideDisabled_DevEx,
.dxWeb_isNextPageBtnVert_DevEx,
.dxWeb_isNextPageBtnVertDisabled_DevEx,
.dxWeb_isNextPageBtnVertOutside_DevEx,
.dxWeb_isNextPageBtnVertOutsideDisabled_DevEx,
.dxWeb_isPauseBtn_DevEx,
.dxWeb_isPlayBtn_DevEx,
.dxWeb_isPrevBtnHor_DevEx,
.dxWeb_isPrevBtnHorDisabled_DevEx,
.dxWeb_isPrevBtnVert_DevEx,
.dxWeb_isPrevBtnVertDisabled_DevEx,
.dxWeb_isPrevPageBtnHor_DevEx,
.dxWeb_isPrevPageBtnHorDisabled_DevEx,
.dxWeb_isPrevPageBtnHorOutside_DevEx,
.dxWeb_isPrevPageBtnHorOutsideDisabled_DevEx,
.dxWeb_isPrevPageBtnVert_DevEx,
.dxWeb_isPrevPageBtnVertDisabled_DevEx,
.dxWeb_isPrevPageBtnVertOutside_DevEx,
.dxWeb_isPrevPageBtnVertOutsideDisabled_DevEx,
.dxWeb_izEWCloseButton_DevEx,
.dxWeb_izHint_DevEx,
.dxWeb_mHorizontalPopOut_DevEx,
.dxWeb_mScrollDown_DevEx,
.dxWeb_mScrollUp_DevEx,
.dxWeb_mSubMenuItem_DevEx,
.dxWeb_mSubMenuItemChecked_DevEx,
.dxWeb_mVerticalPopOut_DevEx,
.dxWeb_mVerticalPopOutRtl_DevEx,
.dxWeb_nbCollapse_DevEx,
.dxWeb_nbExpand_DevEx,
.dxWeb_ncBackToTop_DevEx,
.dxWeb_pAll_DevEx,
.dxWeb_pAllDisabled_DevEx,
.dxWeb_pcCloseButton_DevEx,
.dxWeb_pcCollapseButton_DevEx,
.dxWeb_pcMaximizeButton_DevEx,
.dxWeb_pcPinButton_DevEx,
.dxWeb_pcRefreshButton_DevEx,
.dxWeb_pcSizeGrip_DevEx,
.dxWeb_pcSizeGripRtl_DevEx,
.dxWeb_pFirst_DevEx,
.dxWeb_pFirstDisabled_DevEx,
.dxWeb_pLast_DevEx,
.dxWeb_pLastDisabled_DevEx,
.dxWeb_pNext_DevEx,
.dxWeb_pNextDisabled_DevEx,
.dxWeb_pPopOut_DevEx,
.dxWeb_pPopOutDisabled_DevEx,
.dxWeb_pPrev_DevEx,
.dxWeb_pPrevDisabled_DevEx,
.dxWeb_rMinBtn_DevEx,
.dxWeb_rMinBtn_DevEx.dxWeb_rMinBtnHover_DevEx,
.dxWeb_rMinBtn_DevEx.dxWeb_rMinBtnPressed_DevEx,
.dxWeb_rMinBtnChecked_DevEx.dxWeb_rMinBtn_DevEx,
.dxWeb_rMinBtnChecked_DevEx.dxWeb_rMinBtnHover_DevEx,
.dxWeb_rMinBtnChecked_DevEx.dxWeb_rMinBtnPressed_DevEx,
.dxWeb_rpCollapseButton_DevEx,
.dxWeb_rPopOut_DevEx,
.dxWeb_smBullet_DevEx,
.dxWeb_splHCollapseBackwardButton_DevEx,
.dxWeb_splHCollapseBackwardButtonHover_DevEx,
.dxWeb_splHCollapseForwardButton_DevEx,
.dxWeb_splHCollapseForwardButtonHover_DevEx,
.dxWeb_splHSeparator_DevEx,
.dxWeb_splHSeparatorHover_DevEx,
.dxWeb_splVCollapseBackwardButton_DevEx,
.dxWeb_splVCollapseBackwardButtonHover_DevEx,
.dxWeb_splVCollapseForwardButton_DevEx,
.dxWeb_splVCollapseForwardButtonHover_DevEx,
.dxWeb_splVSeparator_DevEx,
.dxWeb_splVSeparatorHover_DevEx,
.dxWeb_tcScrollLeft_DevEx,
.dxWeb_tcScrollLeftDisabled_DevEx,
.dxWeb_tcScrollLeftHover_DevEx,
.dxWeb_tcScrollLeftPressed_DevEx,
.dxWeb_tcScrollRight_DevEx,
.dxWeb_tcScrollRightDisabled_DevEx,
.dxWeb_tcScrollRightHover_DevEx,
.dxWeb_tcScrollRightPressed_DevEx,
.dxWeb_tiBackToTop_DevEx,
.dxWeb_tvColBtn_DevEx,
.dxWeb_tvColBtnRtl_DevEx,
.dxWeb_tvExpBtn_DevEx,
.dxWeb_tvExpBtnRtl_DevEx,
.dxWeb_ucClearButton_DevEx,
.dxWeb_ucClearButtonDisabled_DevEx
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_DevEx.dxTouchUI .dxWeb_igCloseButton_DevEx
{
    background-position: -22px -264px;
    width: 23px;
    height: 23px;
}
.dxigControl_DevEx.dxTouchUI .dxWeb_igPauseButton_DevEx
{
    background-position: -99px -238px;
    width: 21px;
    height: 25px;
}
.dxigControl_DevEx.dxTouchUI .dxWeb_igPlayButton_DevEx
{
    background-position: 0px -264px;
    width: 21px;
    height: 25px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_DevEx
{
    background-position: -30px -434px;
    width: 29px;
    height: 15px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_DevEx
{
    background-position: -30px -418px;
    width: 29px;
    height: 15px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_DevEx
{
    background-position: -60px -434px;
    width: 29px;
    height: 15px;
}
.dxrpCollapsed .dxWeb_rpCollapseButton_DevEx
{
    background-position: -46px -482px;
    width: 13px;
    height: 15px;
}
.dxWeb_edtCheckBoxChecked_DevEx
{
    background-position: -88px -466px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxCheckedDisabled_DevEx
{
    background-position: -16px -482px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayed_DevEx
{
    background-position: 0px -482px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayedDisabled_DevEx
{
    background-position: -102px -401px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUnchecked_DevEx
{
    background-position: -56px -466px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_DevEx
{
    background-position: -40px -466px;
    width: 15px;
    height: 15px;
}
.dxWeb_fmCopyButton_DevEx
{
    background-position: -51px -384px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_DevEx
{
    background-position: -85px -384px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_DevEx
{
    background-position: -85px -401px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_DevEx
{
    background-position: -34px -366px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_DevEx
{
    background-position: -102px -366px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_DevEx
{
    background-position: -102px -384px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_DevEx
{
    background-position: 0px -384px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_DevEx
{
    background-position: -68px -401px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_DevEx
{
    background-position: -17px -384px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_DevEx
{
    background-position: -51px -366px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_DevEx
{
    background-position: 0px -401px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_DevEx
{
    background-position: -68px -366px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_DevEx
{
    background-position: -68px -384px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_DevEx
{
    background-position: -85px -366px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_DevEx
{
    background-position: -34px -384px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_DevEx
{
    background-position: -34px -401px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_DevEx
{
    background-position: 0px -526px;
    width: 13px;
    height: 13px;
}
.dxWeb_igCloseButton_DevEx
{
    background-position: -66px -511px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_DevEx
{
    background-position: -13px -366px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_DevEx
{
    background-position: 0px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_DevEx
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_DevEx
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_DevEx
{
    background-position: 0px -198px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_DevEx
{
    background-position: -90px -348px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_DevEx
{
    background-position: -106px -264px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_DevEx
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_DevEx
{
    background-position: -46px -198px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_DevEx
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_DevEx
{
    background-position: -46px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_DevEx
{
    background-position: -70px -526px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_DevEx
{
    background-position: -42px -526px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_DevEx
{
    background-position: -84px -526px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_DevEx
{
    background-position: -28px -526px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_DevEx
{
    background-position: -92px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_DevEx
{
    background-position: -102px -34px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_DevEx
{
    background-position: -30px -290px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_DevEx
{
    background-position: 0px -290px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_DevEx
{
    background-position: -91px -264px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_DevEx
{
    background-position: -46px -264px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorOutside_DevEx
{
    background-position: -95px -169px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnHorOutsideDisabled_DevEx
{
    background-position: -105px -132px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnVert_DevEx
{
    background-position: 0px -511px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_DevEx
{
    background-position: -88px -482px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertOutside_DevEx
{
    background-position: 0px -498px;
    width: 28px;
    height: 12px;
}
.dxWeb_isNextPageBtnVertOutsideDisabled_DevEx
{
    background-position: -29px -498px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPauseBtn_DevEx
{
    background-position: 0px -366px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_DevEx
{
    background-position: -103px -348px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_DevEx
{
    background-position: -92px 0px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_DevEx
{
    background-position: -102px -100px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_DevEx
{
    background-position: -60px -290px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_DevEx
{
    background-position: -90px -290px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_DevEx
{
    background-position: -76px -264px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_DevEx
{
    background-position: -61px -264px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorOutside_DevEx
{
    background-position: -92px -132px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnHorOutsideDisabled_DevEx
{
    background-position: -108px -169px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnVert_DevEx
{
    background-position: -22px -511px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_DevEx
{
    background-position: -44px -511px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertOutside_DevEx
{
    background-position: -92px -225px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPrevPageBtnVertOutsideDisabled_DevEx
{
    background-position: -58px -498px;
    width: 28px;
    height: 12px;
}
.dxWeb_izEWCloseButton_DevEx
{
    background-position: -92px -198px;
    width: 25px;
    height: 25px;
}
.dxWeb_izHint_DevEx
{
    background-position: -18px -348px;
    width: 17px;
    height: 17px;
}
.dxWeb_mHorizontalPopOut_DevEx
{
    background-position: -111px -80px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollDown_DevEx
{
    background-position: -80px -329px;
    width: 18px;
    height: 18px;
}
.dxWeb_mScrollUp_DevEx
{
    background-position: -99px -329px;
    width: 18px;
    height: 18px;
}
.dxWeb_mSubMenuItem_DevEx
{
    background-position: -80px -511px;
    width: 13px;
    height: 13px;
}
.dxWeb_mSubMenuItemChecked_DevEx
{
    background-position: -94px -511px;
    width: 13px;
    height: 13px;
}
.dxWeb_mVerticalPopOut_DevEx
{
    background-position: -116px -161px;
    width: 4px;
    height: 7px;
}
.dxWeb_mVerticalPopOutRtl_DevEx
{
    background-position: -94px -256px;
    width: 4px;
    height: 7px;
}
.dxWeb_nbCollapse_DevEx
{
    background-position: -60px -482px;
    width: 13px;
    height: 15px;
}
.dxWeb_nbExpand_DevEx
{
    background-position: -32px -482px;
    width: 13px;
    height: 15px;
}
.dxWeb_ncBackToTop_DevEx
{
    background-position: -72px -466px;
    width: 15px;
    height: 15px;
}
.dxWeb_pAll_DevEx
{
    background-position: -80px -310px;
    width: 19px;
    height: 18px;
}
.dxWeb_pAllDisabled_DevEx
{
    background-position: -100px -310px;
    width: 19px;
    height: 18px;
}
.dxWeb_pcCloseButton_DevEx
{
    background-position: 0px -434px;
    width: 29px;
    height: 15px;
}
.dxWeb_pcCollapseButton_DevEx
{
    background-position: -90px -434px;
    width: 29px;
    height: 15px;
}
.dxWeb_pcMaximizeButton_DevEx
{
    background-position: -90px -418px;
    width: 29px;
    height: 15px;
}
.dxWeb_pcPinButton_DevEx
{
    background-position: 0px -418px;
    width: 29px;
    height: 15px;
}
.dxWeb_pcRefreshButton_DevEx
{
    background-position: -60px -418px;
    width: 29px;
    height: 15px;
}
.dxWeb_pcSizeGrip_DevEx
{
    background-position: -56px -526px;
    width: 13px;
    height: 13px;
}
.dxWeb_pcSizeGripRtl_DevEx
{
    background-position: -14px -526px;
    width: 13px;
    height: 13px;
}
.dxWeb_pFirst_DevEx
{
    background-position: -20px -329px;
    width: 19px;
    height: 18px;
}
.dxWeb_pFirstDisabled_DevEx
{
    background-position: -60px -310px;
    width: 19px;
    height: 18px;
}
.dxWeb_pLast_DevEx
{
    background-position: 0px -329px;
    width: 19px;
    height: 18px;
}
.dxWeb_pLastDisabled_DevEx
{
    background-position: -60px -329px;
    width: 19px;
    height: 18px;
}
.dxWeb_pNext_DevEx
{
    background-position: 0px -310px;
    width: 19px;
    height: 18px;
}
.dxWeb_pNextDisabled_DevEx
{
    background-position: -40px -310px;
    width: 19px;
    height: 18px;
}
.dxWeb_pPopOut_DevEx
{
    background-position: -111px -25px;
    width: 9px;
    height: 8px;
}
.dxWeb_pPopOutDisabled_DevEx
{
    background-position: -92px -34px;
    width: 9px;
    height: 8px;
}
.dxWeb_pPrev_DevEx
{
    background-position: -20px -310px;
    width: 19px;
    height: 18px;
}
.dxWeb_pPrevDisabled_DevEx
{
    background-position: -40px -329px;
    width: 19px;
    height: 18px;
}
.dxWeb_rMinBtn_DevEx
{
    background-position: -108px -511px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_DevEx.dxWeb_rMinBtnHover_DevEx
{
    background-position: -110px -482px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_DevEx.dxWeb_rMinBtnPressed_DevEx
{
    background-position: -98px -526px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_DevEx.dxWeb_rMinBtn_DevEx
{
    background-position: -110px -282px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_DevEx.dxWeb_rMinBtnHover_DevEx
{
    background-position: -109px -526px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_DevEx.dxWeb_rMinBtnPressed_DevEx
{
    background-position: -110px -490px;
    width: 10px;
    height: 7px;
}
.dxWeb_rpCollapseButton_DevEx
{
    background-position: -74px -482px;
    width: 13px;
    height: 15px;
}
.dxWeb_rPopOut_DevEx
{
    background-position: -113px -506px;
    width: 7px;
    height: 4px;
}
.dxWeb_smBullet_DevEx
{
    background-position: -111px -66px;
    width: 8px;
    height: 13px;
}
.dxWeb_splHCollapseBackwardButton_DevEx
{
    background-position: -113px -519px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButtonHover_DevEx
{
    background-position: -111px -85px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButton_DevEx
{
    background-position: -111px -498px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButtonHover_DevEx
{
    background-position: -92px -101px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHSeparator_DevEx
{
    background-position: -92px -162px;
    width: 23px;
    height: 6px;
}
.dxWeb_splHSeparatorHover_DevEx
{
    background-position: -87px -498px;
    width: 23px;
    height: 6px;
}
.dxWeb_splVCollapseBackwardButton_DevEx
{
    background-position: -92px -108px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_DevEx
{
    background-position: -111px -92px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_DevEx
{
    background-position: -92px -116px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_DevEx
{
    background-position: -95px -124px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVSeparator_DevEx
{
    background-position: -111px 0px;
    width: 6px;
    height: 22px;
}
.dxWeb_splVSeparatorHover_DevEx
{
    background-position: -95px -43px;
    width: 6px;
    height: 22px;
}
.dxWeb_tcScrollLeft_DevEx
{
    background-position: 0px -450px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollLeftDisabled_DevEx
{
    background-position: -20px -450px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollLeftHover_DevEx
{
    background-position: -40px -450px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollLeftPressed_DevEx
{
    background-position: -100px -450px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRight_DevEx
{
    background-position: 0px -466px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightDisabled_DevEx
{
    background-position: -20px -466px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightHover_DevEx
{
    background-position: -60px -450px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightPressed_DevEx
{
    background-position: -80px -450px;
    width: 19px;
    height: 15px;
}
.dxWeb_tiBackToTop_DevEx
{
    background-position: -104px -466px;
    width: 15px;
    height: 15px;
}
.dxWeb_tvColBtn_DevEx
{
    background-position: -72px -348px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_DevEx
{
    background-position: -54px -348px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_DevEx
{
    background-position: 0px -348px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_DevEx
{
    background-position: -36px -348px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_DevEx
{
    background-position: -51px -401px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_DevEx
{
    background-position: -17px -401px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_DevEx,
.dxWeb_rpHeaderTopRightCorner_DevEx,
.dxWeb_rpHeaderBottomLeftCorner_DevEx,
.dxWeb_rpHeaderBottomRightCorner_DevEx,
.dxWeb_rpBottomLeftCorner_DevEx,
.dxWeb_rpBottomRightCorner_DevEx,
.dxWeb_rpTopLeftCorner_DevEx,
.dxWeb_rpTopRightCorner_DevEx,
.dxWeb_rpGroupBoxBottomLeftCorner_DevEx,
.dxWeb_rpGroupBoxBottomRightCorner_DevEx,
.dxWeb_rpGroupBoxTopLeftCorner_DevEx,
.dxWeb_rpGroupBoxTopRightCorner_DevEx,
.dxWeb_mHorizontalPopOut_DevEx,
.dxWeb_mVerticalPopOut_DevEx,
.dxWeb_mVerticalPopOutRtl_DevEx,
.dxWeb_mSubMenuItem_DevEx,
.dxWeb_mSubMenuItemChecked_DevEx,
.dxWeb_mScrollUp_DevEx,
.dxWeb_mScrollDown_DevEx,
.dxWeb_tcScrollLeft_DevEx,
.dxWeb_tcScrollRight_DevEx,
.dxWeb_tcScrollLeftHover_DevEx,
.dxWeb_tcScrollRightHover_DevEx,
.dxWeb_tcScrollLeftPressed_DevEx,
.dxWeb_tcScrollRightPressed_DevEx,
.dxWeb_tcScrollLeftDisabled_DevEx,
.dxWeb_tcScrollRightDisabled_DevEx,
.dxWeb_nbCollapse_DevEx,
.dxWeb_nbExpand_DevEx,
.dxWeb_splVSeparator_DevEx,
.dxWeb_splVSeparatorHover_DevEx,
.dxWeb_splHSeparator_DevEx,
.dxWeb_splHSeparatorHover_DevEx,
.dxWeb_splVCollapseBackwardButton_DevEx,
.dxWeb_splVCollapseBackwardButtonHover_DevEx,
.dxWeb_splHCollapseBackwardButton_DevEx,
.dxWeb_splHCollapseBackwardButtonHover_DevEx,
.dxWeb_splVCollapseForwardButton_DevEx,
.dxWeb_splVCollapseForwardButtonHover_DevEx,
.dxWeb_splHCollapseForwardButton_DevEx,
.dxWeb_splHCollapseForwardButtonHover_DevEx,
.dxWeb_pcCloseButton_DevEx,
.dxWeb_pcPinButton_DevEx,
.dxWeb_pcRefreshButton_DevEx,
.dxWeb_pcCollapseButton_DevEx,
.dxWeb_pcMaximizeButton_DevEx,
.dxWeb_pcSizeGrip_DevEx,
.dxWeb_pcSizeGripRtl_DevEx,
.dxWeb_pPopOut_DevEx,
.dxWeb_pPopOutDisabled_DevEx,
.dxWeb_pAll_DevEx,
.dxWeb_pAllDisabled_DevEx,
.dxWeb_pPrev_DevEx,
.dxWeb_pPrevDisabled_DevEx,
.dxWeb_pNext_DevEx,
.dxWeb_pNextDisabled_DevEx,
.dxWeb_pLast_DevEx,
.dxWeb_pLastDisabled_DevEx,
.dxWeb_pFirst_DevEx,
.dxWeb_pFirstDisabled_DevEx,
.dxWeb_tvColBtn_DevEx,
.dxWeb_tvColBtnRtl_DevEx,
.dxWeb_tvExpBtn_DevEx,
.dxWeb_tvExpBtnRtl_DevEx,
.dxWeb_ncBackToTop_DevEx,
.dxWeb_smBullet_DevEx,
.dxWeb_tiBackToTop_DevEx,
.dxWeb_fmFolder_DevEx,
.dxWeb_fmFolderLocked_DevEx,
.dxWeb_fmCreateButton_DevEx,
.dxWeb_fmMoveButton_DevEx,
.dxWeb_fmRenameButton_DevEx,
.dxWeb_fmDeleteButton_DevEx,
.dxWeb_fmRefreshButton_DevEx,
.dxWeb_fmDwnlButton_DevEx,
.dxWeb_fmCreateButtonDisabled_DevEx,
.dxWeb_fmMoveButtonDisabled_DevEx,
.dxWeb_fmRenameButtonDisabled_DevEx,
.dxWeb_fmDeleteButtonDisabled_DevEx,
.dxWeb_fmRefreshButtonDisabled_DevEx,
.dxWeb_fmDwnlButtonDisabled_DevEx,
.dxWeb_fmThumbnailCheck_DevEx,
.dxWeb_ucClearButton_DevEx,
.dxWeb_isPrevBtnHor_DevEx,
.dxWeb_isNextBtnHor_DevEx,
.dxWeb_isPrevBtnVert_DevEx,
.dxWeb_isNextBtnVert_DevEx,
.dxWeb_isPrevPageBtnHor_DevEx,
.dxWeb_isPrevPageBtnHorOutside_DevEx,
.dxWeb_isNextPageBtnHor_DevEx,
.dxWeb_isNextPageBtnHorOutside_DevEx,
.dxWeb_isPrevPageBtnVert_DevEx,
.dxWeb_isPrevPageBtnVertOutside_DevEx,
.dxWeb_isNextPageBtnVert_DevEx,
.dxWeb_isNextPageBtnVertOutside_DevEx,
.dxWeb_isPrevBtnHorDisabled_DevEx,
.dxWeb_isNextBtnHorDisabled_DevEx,
.dxWeb_isPrevBtnVertDisabled_DevEx,
.dxWeb_isNextBtnVertDisabled_DevEx,
.dxWeb_isPrevPageBtnHorDisabled_DevEx,
.dxWeb_isPrevPageBtnHorOutsideDisabled_DevEx,
.dxWeb_isNextPageBtnHorDisabled_DevEx,
.dxWeb_isNextPageBtnHorOutsideDisabled_DevEx,
.dxWeb_isPrevPageBtnVertDisabled_DevEx,
.dxWeb_isPrevPageBtnVertOutsideDisabled_DevEx,
.dxWeb_isNextPageBtnVertDisabled_DevEx,
.dxWeb_isNextPageBtnVertOutsideDisabled_DevEx,
.dxWeb_isDot_DevEx,
.dxWeb_isDotDisabled_DevEx,
.dxWeb_isDotSelected_DevEx
.dxWeb_ucClearButtonDisabled_DevEx,
.dxWeb_isPlayBtn_DevEx,
.dxWeb_isPauseBtn_DevEx,
.dxWeb_igCloseButton_DevEx,
.dxWeb_igNextButton_DevEx,
.dxWeb_igPrevButton_DevEx,
.dxWeb_igPlayButton_DevEx,
.dxWeb_igPauseButton_DevEx,
.dxWeb_igNavigationBarMarker_DevEx
{ 
    display:block;
}
.dxWeb_mScrollUp_DevEx, .dxWeb_mScrollDown_DevEx
{
	margin: auto;
}
.dxWeb_ncBackToTop_DevEx,
.dxWeb_smBullet_DevEx,
.dxWeb_tiBackToTop_DevEx
{
	display:inline;
}

