<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>SupriseLa</title>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="/css/utils.css" rel="stylesheet" />
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/js.js"></script>
</head>

<body>
    <div class="header" id="home">
        <header class="cl">
            <span class="social">
                <a href="#"><img src="/images/icons/facebook.png" alt="facebook" /></a>
                <a href="#"><img src="/images/icons/twitter.png" alt="twitter" /></a>
            </span>
            <nav>
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#how-it-works">How It Works</a>
                    </li>
                    <li>
                        <a href="#reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="#buy-now">Buy Now</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="suprise">
            <figure>
                <img src="/images/normal.png" alt="" />
                <figcaption>
                    <p>
                        <strong>Hi, I’m Dil</strong>
                        I have curated 2
                        Suprises, one good
                        and one even better
                    </p>
                </figcaption>
            </figure>
            <article>
                <h1>Suprise<span>La</span></h1>
                <p>
                    I send surprises to your enemy or secret lover today for SGD$8.70! Let us send them a hate or love pack that is
                    guaranteed either piss them off or make them fall in love with you!
                </p>
                <a href="#buy-now" class="btn">Buy Now</a>
            </article>
        </section>
    </div>
    <footer>
        <div class="social">
            <a href="#"><img src="/images/icons/facebook.png" alt="facebook" /></a>
            <a href="#"><img src="/images/icons/twitter.png" alt="twitter" /></a>
        </div>
        <p>
            © SupriseHero By Booxify Pte Ltd 2015. All Rights Reserved. Ter
        </p>
    </footer>
</body>
</html>
