html,body,
h1,h4,h3,h4,h5,h6,
ul,p,figure,
form,fieldset,input,textarea{
	margin:0;
	padding:0;
}

*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cl:before,
.cl:after,
.col2:before,
.col2:after,
fieldset:before,
fieldset:after {
  display: table;
  content: " ";
}
.cl:after,
.col2:after,
fieldset:after{
	clear:both;
}

html,
body{
	width:100%;
	height:100%;
}

a img,
fieldset{
  border: 0;
}
figure img{
	display:block;
}

body,
input,
textarea{
	font-family:'Lao UI';
	font-size:14px;
}

/* ---------- header ---------- */
.header{
	position:relative;
	width:100%;
	min-height:674px;
	background-image:url(../images/header-bg.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.header:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.6);
}
header,
.suprise{
	position:relative;
	z-index:1;
	max-width:1000px;
	margin:0 auto;
}

header{
	padding:19px 0 39px;
}
header nav,
header .social{
	float:right;
}
nav ul{
	list-style:none;
}
header li{
	float:left;
	line-height:32px;
	margin:0 22px; 
}
header nav a{
	display:block;
	color:#fff;
	font-size:21px;
	font-weight:bold;
	text-decoration:none;
}

header .social a{
	float:left;
}
header .social a+a{
	margin-left:18px;
}
header .social img{
	display:block;
	width:36px;
}


.suprise{
	position:relative;
	min-height:580px;
	padding-left:379px;
}
.suprise figure{
	position:absolute;
	bottom:0;
	left:0;
	width:379px;
}
.suprise figcaption{
	position:absolute;
	top:-18px;
	left:262px;
	
	width:219px;
	height:152px;
	background:url(../images/com_box.png);
	padding:16px 20px 0;
	
	color:#941b06;
	font-size:18px;
	line-height:21px;
	text-align:center;
}
.suprise figcaption p{
	position:relative;
	transform:rotate(10deg);
}
.suprise figcaption strong{
	display:block;
}

.suprise article{
	width:620px;
	padding:0 0 20px;
	
	color:#fff;
	font-size:23px;
	line-height:28px;
	text-align:center;
}
.suprise article h1{
	width:194px;
	height:213px;
	background:url(../images/logo.png);
	margin:0 auto 20px;
	
	color:#fff;
	font-size:63px;
	line-height:63px;
	text-indent:-9999px;
}
.suprise article h1 span{
	color:#d74c22;
}
.suprise article p{
	margin-bottom:47px;
}
.suprise article .btn{
	display:block;
	width:274px;
	height:78px;
	background-color:rgba(238,80,33,0.9);
	box-shadow: 4px 6px 5.95px 1.05px rgba(0, 0, 0, 0.75);
	margin:0 auto;
	
	color:#fff;
	font-family:"Arial Black", sans-serif;
	font-size:37px;
	line-height:78px;
	text-decoration:none;
	text-align:center;
}
/* ---------- /header ---------- */


/* ---------- footer ---------- */
footer{
	width:100%;
	padding:24px 0 47px;
	background:#000;
	text-align:center;
}
footer .social{
	margin-bottom:14px;
}
footer .social a{
	display:inline-block;
	margin:0 23px;
}
footer .social a img{
	display:block;
}
footer p{
	color:#fff;
	font-size:18px;
}
/* ---------- /footer ---------- */


/* ==================== content ==================== */

section h3{
	font-size:37px;
	line-height:70px;
	text-align:center;
}

/* ---------- How It Works ---------- */
.how-it-works{
	background:#c62a13;
}
.how-it-works{
	color:#fff;
	padding-bottom:30px;
}
.how-it-works > div{
	width:774px;
	margin:0 auto;
}
.how-it-works > div div{
	padding:8px 0 30px;
}
.how-it-works img,
.how-it-works p{
	display:inline-block;
	vertical-align:middle;
}
.how-it-works img{
	margin:0 10px;
}
.how-it-works p{
	width:645px;
	font-size:22px;
	line-height:26px;
}

/* ---------- /How It Works ---------- */


/* ---------- Reviews ---------- */
.reviews{
	color:#363636;
	padding-bottom:26px;
}
.reviews h3{
	margin-bottom:20px;
}
.reviews > ul{
	list-style:none;
	text-align:center;
}
.reviews > ul li{
	display:inline-block;
	width:290px;
	min-height:286px;
	background:#f5f5f5;
	padding:10px 15px 20px;
	margin:0 9px 20px;
    vertical-align:top;
	
	font-size:21px;
	text-align:left;
}
.reviews > ul li p{
	margin-bottom:30px;
}
/* ---------- /Reviews ---------- */



/* ---------- buy-now ---------- */
.buy-now{
	background:#d9d9d9;
	padding:20px;
}
.reviews h3{
	margin-bottom:20px;
}
.buy-now > div{
	width:673px;
	background:#fff;
	margin:0 auto;
}
.buy-now h3{
	color:#c62a13;
}
.buy-now .form{
	width:608px;
	margin:0 auto;
}

.buy-now .col2{
	margin-bottom:20px;
}
.buy-now .col2 > div{
	float:left;
	width:50%;
}
.buy-now .radio{
	text-align:center;
}
.buy-now .radio label{
	display:block;
	
	color:#1c0113;
	font-size:23px;
	line-height:26px;
	letter-spacing:-1px;
	margin-bottom:10px;
}
.buy-now .radio figure{
	margin-bottom:5px;
}
.buy-now .radio img{
	margin:0 auto;
}
.buy-now .radio strong,
.buy-now .radio b{
	display:block;
}
.buy-now .radio strong{
	margin-bottom:5px;
}


.buy-now .form input[type=text],
.buy-now .form textarea{
	width:100%;
	border:1px solid #7f7f7f;
	border-radius:2px;
	margin-bottom:20px;
	
	color:#727272;
	font-size:20px;
}
.buy-now .form input[type=text]{
	height:46px;
	padding:0 14px;
}
.buy-now .form textarea{
	padding:10px 14px;
}

.buy-now .form input[type=submit],
.buy-now .form input[type=button]{
	width:100%;
	height:52px;
	background-color:#c21a01;
	border:1px solid #c21a01;
	box-shadow:1px 2px 1.9px 0.1px rgba(0, 0, 0, 0.75);
	margin-bottom:20px;
	
	color:#fff;
	font-family:"Arial Black", sans-serif;
	font-size:23px;
	cursor:pointer;
}
/* ---------- /buy-now ---------- */


/* ---------- surprise-reel ---------- */
.surprise-reel{
	background:#474747;
	padding:10px 0 92px;
}
.surprise-reel h3{
	color:#fff;
	margin-bottom:20px;
}
.surprise-reel div{
	width:1000px;
	margin:0 auto;
}
.surprise-reel figure img{
	float:left;
}
.surprise-reel figure img + img{
	margin-left:23px;
}
/* ---------- /surprise-reel ---------- */


/* ---------- subscribe ---------- */
.subscribe{
	background:#c21a01;
	padding:20px 0 28px;
	text-align:center;
}
.subscribe label,
.subscribe input{
	display:block;
}
.subscribe label{
	color:#fff;
	font-size:20px;
	line-height:26px;
	margin-bottom:10px;
}
.subscribe input{
	margin:0 auto;
}
.subscribe input[type=text]{
	width:456px;
	height:46px;
	background:#fff;
	border:1px solid #7f7f7f;
	padding:0 14px;
	margin-bottom:14px;
	
	color:#727272;
	font-size:20px;
	text-align:center;
}
.subscribe input[type=submit],
.subscribe input[type=button]{
	width:242px;
	height:52px;
	background-color:#fff;
	border:1px solid #fff;
	
	color:#c21a01;
	font-family:"Arial Black", sans-serif;
	font-size:23px;
	cursor:pointer;
}
/* ---------- /subscribe ---------- */
.error-message
{
    color:#c21a01;
    font-size:20px;
    text-align:center;
}
.success-message
{
    color:green;
    font-size:20px;
    text-align:center;
}
.terms-link
{
    color:#c21a01;
    text-decoration:none;
}
.terms
{
    width:820px; 
    height:600px;     
}

.terms p
{
    width:770px;    
}




@media only screen and (max-width: 1000px) {
    header, .suprise{
        width:100%;
        max-width:100%;
    }
    .suprise article{
        padding: 0 30px 0 20px;
    }
    .social{
        margin-right:10px;
    }
	
	.how-it-works > div{
		width:880px;
		margin:0 auto;
	}
	.how-it-works p{
		width:700px;
		margin:0 auto;
	}
}